<!-- Core Skeleton : Side and Top Menu -->
<ul class="sidebar-nav">
 <li><a class="active" href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>My Profile</b></span></a></li>
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>My Cash and Property</b></span></a></li>
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>My Career</b></span></a></li>
 <li><a href="app-game-findAjob.html"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Find a Job</b></span></a></li>
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Business and MarketPlace</b></span></a></li>
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Bank</b></span></a></li>	
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Shopping</b></span></a></li>	
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Education</b></span></a></li>
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Entertainment</b></span></a></li>
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Society</b></span></a></li>
 <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span><b>Invite Friends</b></span></a></li>
</ul>